:root {
  --statusbar-height: 18px;
  --header-height: 44px;
}

.platform-android ion-header-bar {
  padding-top: var(--statusbar-height);
  min-height: calc(var(--statusbar-height) + var(--header-height));
}

.platform-android ion-header-bar .title {
  top: var(--statusbar-height);
}

.platform-android .modal ion-header-bar .button {
  top: var(--statusbar-height) !important;
}

.platform-android ion-header-bar .buttons-right {
  top: var(--statusbar-height) !important;
}

.platform-android .has-header {
  top: calc(var(--header-height) + var(--statusbar-height));
}

.platform-android .bar-subheader {
  top: calc(var(--header-height) + var(--statusbar-height));
}

.platform-android .has-subheader {
  top: calc(var(--header-height) * 2 + var(--statusbar-height)) !important;
}

.immerse-status-bar {
  display: none;
}